body{
    padding: 0px;
    margin: 0px;
    background-color: #fefefe;
    box-sizing: border-box;
}

.row{
    display: flex;
    height: 100vh;
    width: 100vw;
}
.block{
    width: 50vw;
    height: 100vh;
}
.bar-chart{
    background-color: #C7D9D9;
    min-height: 400px;
    width: 600px;
}
.block{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}
.block>.heading{
    height: 15vh;
    margin-top: 5vh;
    text-align: center;
    background-color: cornflowerblue;
    width: 70%;
    margin-left: 15%;
    border-radius: 2.5vh;
    padding-bottom:15px;
    color: white;
}
.block>.heading>h2{
    color: black;
    letter-spacing: 2px;
    font-family: sans-serif;
}
.block>.heading>p{
    color: #636e72;
}
.block>.main-content{
    margin-left: 15%;
    width: 70%;
    height: 65vh;
    margin-top: 5vh;
    background-color: #f3f3f3;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.block>.main-content>.content{
    width: 80%;
}
.block>.main-content>.content>div>input{
    height: 30px;
    width: 80%;
    border:none;
    border-bottom: 2px solid #555;
    border-radius: none;
    background-color: transparent;
    outline: none;
}
.block>.main-content>.content>div>.label1{
    position: absolute;
    top:36%;
    left: 11%;
    margin-left: 0px;
    font-size: 20px;
    font-weight: 800;
}
.block>.main-content>.content>div>input:focus{
    border: none;
    border-bottom: 2px solid #222;
}
.block>.main-content>.content>div>input:focus + .label1,
.block>.main-content>.content>div>input:valid + .label1{
    top: 31%;
    color: red;
    transition: .5s ease-in-out;
}
.block>.main-content>.content>div>.label2{
    position: absolute;
    top:57%;
    left: 11%;
    margin-left: 0px;
    font-size: 20px;
    font-weight: 800;
}
.block>.main-content>.content>div>input:focus + .label2,
.block>.main-content>.content>div>input:valid + .label2{
    top: 51%;
    color: red;
    transition: .5s ease-in-out;
}